__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
.cache
*.cover
*.log
.git
.mypy_cache
.pytest_cache
*.zip
.dvc/
.dvcignore
notebooks/
.ipynb_checkpoints/
experiments/
logs/
data/
insights/
.vscode/
.github/
*.lock
test/
Procfile